.seller-info, .recipient-info {
    width: 30%;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
.seller-info{
    background-color: #16181c;
	float: left;
    left: 0;
	min-width: 49%;
    align-items: center;
    padding: 20px;
}
.recipient-info {
    background-color: #16181c;
    float: right;
    right: 0;
	min-width: 49%;
    align-items: center;
    padding: 20px;
}
.info-text3{
    font-size: 22px;
    font-weight: 600;
    padding-left:2%;
    color: #dddee0;
}

.button-container {
 margin: 0px 2%;
 padding: 3% 0px;
 
}

.button {
 display:flex;
  width: 100%;
  height: 50px;
  background-color: #1e2024;
  color: #fff;
  text-align: center;
  align-items: center; 
  line-height: 50px;
  cursor: pointer;
  margin-bottom: 10px;
  transition: background-color 0.3s ease; 
  border-radius: 10px;
  padding: 35px 3%;
}


.button:last-child {
  margin-right: 0;
}

.button:hover {
  background-color: #27292E;
}
.buttonp{
    display:flex;
    text-align: center;
    margin-left: 5px;
    width: 35px;
    height: 35px;
    background-color: #ffffff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease; 
    border-radius: 6px;
    align-items: center;
    justify-content: center;
}
.buttonp:last-child {
    margin-right: 0;
  }
  .buttonp:hover {
    background-color: #d8d8d8;
  }
  .plus{
    font-weight: lighter;
    margin-bottom:10%;
    font-size: 40px;
    color: black;
  }
  .buttontxt{
    padding-left: 3%;
    font-size: 20px;
    color: #dddee0;
    font-weight: Bold;
  }


  



/*Стили для модульный блоков*/
.first-modalblock{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  padding-bottom: 12px;
}
.modal-text{
  font-size: 21px;
  color: #dddee0;
  font-weight: Bold;
  padding-left: 1%;
}
.cross {
        position: relative;
        width: 30px;
        height: 30px;
    }
    .cross::before,
    .cross::after {
        background-color: #898B8F;
        content: '';
        position: absolute;
        width: 60%;
        height: 2px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: background-color 0.3s ease; 
    }
    .cross::before {
        transform: translate(-50%, -50%) rotate(45deg);
    }
    .cross::after {
        transform: translate(-50%, -50%) rotate(-45deg);
    }
    .cross:hover::before,
    .cross:hover::after {
      background-color: #E9E9EB;
    }

.second-modalblock{
  background-color: #1E2024;
  width: 100%;
  padding: 12px 25px;
  color:#BEC0C6;
  font-size: 15px;
}
.second-modalblock strong{
  color:#d5d8df;
}

.first-modalblock2{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  padding-bottom: 7px;
}

.second-modalblock2{
  width: 100%;
  padding: 0px 25px;
  color:#BEC0C6;
  font-size: 17px;
}
.second-modalblock2 strong{
  color:#d5d8df;
}