.seller-info, .recipient-info {
    width: 30%;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
.seller-info{
    background-color: #16181c;
	float: left;
    left: 0;
	min-width: 49%;
    align-items: center;
    padding: 20px;
}
.recipient-info {
    background-color: #16181c;
    float: right;
    right: 0;
	min-width: 49%;
    align-items: center;
    padding: 20px;
}
.info-text3{
    font-size: 22px;
    font-weight: 600;
    padding-left:2%;
    color: #dddee0;
}

.button-container {
 margin: 0px 2%;
 padding: 3% 0px;
 
}

.button {
 display:flex;
  width: 100%;
  height: 50px;
  background-color: #1e2024;
  color: #fff;
  text-align: center;
  align-items: center; 
  line-height: 50px;
  cursor: pointer;
  margin-bottom: 10px; /* Добавляем отступ между кнопками */
  transition: background-color 0.3s ease; 
  border-radius: 10px;
  padding: 35px 3%;
}

/* Последней кнопке убираем отступ справа */
.button:last-child {
  margin-right: 0;
}

/* Стили для наведения */
.button:hover {
  background-color: #27292E;
}
.buttonp{
    display:flex;
    text-align: center;
    margin-left: 5px;
    width: 35px;
    height: 35px;
    background-color: #ffffff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease; 
    border-radius: 6px;
    align-items: center;
    justify-content: center;
}
.buttonp:last-child {
    margin-right: 0;
  }
  
  /* Стили для наведения */
  .buttonp:hover {
    background-color: #d8d8d8;
  }
  .plus{
    font-weight: lighter;
    margin-bottom:10%;
    font-size: 40px;
    color: black;
  }
  .buttontxt{
    padding-left: 3%;
    font-size: 20px;
    color: #dddee0;
    font-weight: Bold;
  }