.modal{
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.7);
    position: fixed;
    top:0;
    left:0;
    z-index: 1;
    display:flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.2s;
}
.modal.active{
    pointer-events: all;
    opacity: 1;
}
.modal_content{
    border-radius: 20px;
    background-color: #16181C;
    width: 520px;
    min-height: 600px;
    transform: translateY(100%);
    transition:0.2s all;
}
.modal_content.active {
    transform: translateY(0px);
}
@media (max-width:600px){
    .modal_content{
    width: 520px;
    height: 100%;
    }
    
}
