.history_item {
  align-items: center;
  background-color: #16181c;
  padding: 20px 30px;
  border-radius: 20px;
  margin: 10px 20px;
  transition: all 0.3s ease;
  cursor: pointer;
}
.history_item:hover {
  background-color: #27292e;
  transform: scale(1.01);
}
.top_content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.top_content_left {
  display: flex;
}
.top_content_left img {
  margin-right: 15px;
}
.top_content_left h1 {
  font-size: 15px;
  color: #6c6e73;
  font-weight: 600;
}
.top_content_left h2 {
  font-size: 18px;
  font-weight: 500;
}
.top_content_right {
  margin-top: 8px;
}
.complete_status {
  color: #29b260;
}
.awaiting_status {
  color: rgb(138, 138, 138);
}
.nft_history {
  position: absolute;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1px solid #1e2024;
}
.details_content {
  display: flex;
  align-items: center;
  margin: 25px 0px;
  margin-bottom: 0px;
}
.nft_history_1,
.nft_history_2 {
  display: flex;
  column-gap: 30px;
  margin: 40px 0px;
  margin-right: 40px;
  margin-top: 0px;
}
.jettons_history_1,
.jettons_history_2 {
  display: block;
}
.jetton_history_list {
  column-gap: 5px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  color: rgb(228, 228, 228);
}
.jetton_history_list img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.arrow,
.plussvg {
  margin: 0 10px;
}
.details_block {
  display: flex;
  align-items: center;
}
@media (max-width: 600px) {
  .arrow {
    opacity: 0;
  }
  .details_content {
    display: block;
  }
}
