.search-block input[type="search-text"] {
    padding: 10px;
    width: calc(100% - 6px);
    border: 1px solid #1e2024;
	background-color: #1e2024;
    border-radius: 15px;
}
.search-block {
    background-color: #15181c;
    right: 0;
	min-width: 49%;
    align-items: center;
    width: 30%;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}