.search-blocki[type="text"] {
  padding: 12px;

  width: calc(100% - 46px);
  border: 1px solid #1e2024;
  background-color: #1e2024;
  transition: border-color 0.3s ease;
  border-radius: 12px;
  margin-left: 23px;
}
.search-blocki:hover,
.search-blocki:focus,
.search-blocki:active[type="text"] {
  border-color: #4a4d57;
}
.search-block {
  background-color: #15181c;
  min-width: 49%;
  align-items: center;
  padding-top: 20px;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
.buttoncr-container {
  padding-top: 20px;
}
.applybuttoncr:disabled {
  opacity: 0.5;
  pointer-events: none;
}
.applybuttoncr {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 45px;
  width: 95%;
  margin-left: 15px;
  border-radius: 12px;
  background-color: #059df5;
  font-size: 17px;
  color: rgb(230, 230, 230);
  font-weight: 500;
  transition: 0.3s ease;
  cursor: pointer;
}
.applybuttoncr:hover {
  background-color: #0486d1;
}
.balance {
  color: #d9d9db;
  font-size: 14px;
  padding-top: 10px;
  padding-left: 30px;
}
@media (max-width: 600px) {
  .search-block {
    width: 100%; /* Изменяем ширину блоков на 100% на маленьких экранах */
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin: 10px 0px;
    font-size: 16px; /*вот эта строчка добавлена*/
  }
}
