/* Header */
.header {
	padding: 30px 10px;
	padding-bottom: 10px;
	margin: 0px auto;
	max-width: 1300px;
	align-items: center;
	justify-content: space-between;
	display: flex;
   }
   .left-header{
	   
   }
   .right-header{
	   
   }
   .header__text {
	margin-bottom: 30px;
	font-size: 20px;
	line-height: 1.333;
	color: #b0b2b8;
   }
   .header__title {
	margin-bottom: 5px;
	font-size: 20px;
	font-weight: 200;
	line-height: 1.4;
	color: #e3e3e5;
   }
   .header__title strong {
	font-size: 30px;
	font-weight: 700;
   }
   
   .header__title em {
	font-style: normal;
	color: var(--accent);
   }
   
   .rectangle-button {
	   padding: 15px 30px;
	   background-color: #1e2024; 
	   color: #fff; 
	   border: none;
	   border-radius: 15px; 
	   transition: background-color 0.3s ease; 
	   cursor: pointer;
	font-size: 16px;
	font-weight: 500;
	font-family: 'Poppins', sans-serif;
   }
   
   .rectangle-button:hover {
	   background-color: #252525; 
   }
   
   @media(max-width:600px){
	.left-header{
	   padding-bottom:10px;
	}
	.right-header{
	  max-width: 100%;
	  width: 100%;
	  justify-content:center;
	}
	.rectangle-button{
	  width: 100%;
	  height: auto;
	  margin-top: -5000px;
	  margin-bottom: -50px;
	}
	.header {
	 padding: 30px 15px;
	 padding-bottom: 20px;
	 margin: 0px auto;
	 align-items: center;
	 display: block;
	}
	.header__title {
	 margin-bottom: 5px;
	 line-height: 1.4;
	 color: #e3e3e5;
	}
	.header__title strong {
	 font-size: 21px;
	 font-weight: 500;
	}
	.header__text {
	 color: #9c9fa6;
	 font-weight: 100;
	}
	 }