/* Nav */

.nav {
  padding: 15px 0;
  background-color: var(--nav-bg);
  border-bottom: 1px solid var(--nav-border);
  color: var(--nav-text);
  letter-spacing: normal;
}

.nav-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 30px;
  row-gap: 20px;
  flex-wrap: wrap;
}

.logo {
  margin-right: auto;
  width: 40px;
  height: 40px;
}
.logotxt {
  padding-left: 15px;
  color: var(--nav-text);
  font-size: 24px;
  font-family: "Poppins", sans-serif;
}
.logo strong {
  font-weight: 700;
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  align-items: center;
  column-gap: 20px;
  font-size: 16px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}
.round-button {
  display: inline-block;
  padding: 8px 25px;
  border-radius: 20px;
  background-color: #ffffff;
  color: #000000;
  text-decoration: none;
  border: none;
  cursor: pointer;
  transition: opacity 0.2s ease-in;
}

.push {
  height: 28px;
  width: 28px;
}
.pushbutton {
  padding: 6px;
  border-radius: 20px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}
.pushbutton:hover {
  background-color: #4b4e53;
}

.nottxt {
  color: #e9e9eb;
  font-size: 23px;
  font-weight: 700;
  padding: 14px 0px;
  padding-left: 20px;
}
/*Compoinent time*/
.notcomp {
  display: flex;
  justify-content: center;
  padding: 15px 0px;
  border: 1px solid #2d2f35;
}
.notcomp {
  align-items: center;
}
.notpng {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  margin-right: 20px;
}
.notcomptxth {
  font-weight: 700;
}
.notcomptxth a {
  color: #0b87d0;
}
.notcomptxtdata {
  font-size: 14px;
  font-weight: 600;
  color: #96989e;
}

.lngcomp2 {
  border: 1px solid #2d2f35;
}
.lngcomp,
.lngcomp2 {
  display: flex;
  justify-content: center;
  padding: 3px 2px;
  font-size: 15px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}
.lngcomp:hover,
.lngcomp2:hover {
  background-color: #3d4047;
}
.round-buttonm {
  width: 35px;
  height: 35px;
  display: inline-block;
  border-radius: 20px;
  color: #000000;
  text-decoration: none;
  border: none;
  cursor: pointer;
  transition: opacity 0.2s ease-in;
}

/* менюшка */

.DropMenu{
  display:flex ;
  justify-content: center;

}
.DropDownSection{
  background-color:#393939;
  border-radius: 20px;
  padding: 10px;
  max-width: 1300px;
}
.DropDownSection::before{
  position: absolute;
}
.menudropp{
  display: flex;
  align-items: center;
  width: 200px;
  margin: 10px auto;

}
.menudropp:hover{
  background-color: rgb(91, 91, 91);
  cursor: pointer;
  border-radius: 20px;
}


.iconleft{
  margin: 7px 10px 5px;
  font-size: 20px;
}
.DropDown1{
  position: absolute;
  background-color: #393939;
  border-radius:20px;
  margin-top: 20px;
  width: 200px;
  line-height: 1.2rem;
  width: 200px;
  overflow: hidden;
  transition: height var(--speed)ease ;
  transform: translateX(-45%);

}
.DropDown1.active{
  opacity: 1;
  visibility: visible;
  transition: 0.3s;
}  

.DropDown1.inactive{
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}

.menudrop{
 display: flex;
 align-items: center;
 margin: 3px 10px;
}

.menu{
  width: 100%;
}
.primaryMenu-enter{
  position: absolute;
  transform: translateX(-110%);
}
.primaryMenu-enter-active{
  transform: translateX(0%);
  transition: all var(--speed)ease;
}
.primaryMenu-exit{
  position: absolute;
}
.primaryMenu-exit-active{
  transform: translateX(-110%);
  transition: all var(--speed)ease;
}
.secondaryMenu-enter{
  transform: translateX(110%);
}
.secondaryMenu-enter-active{
  transform: translateX(0%);
  transition: all var(--speed)ease;
}
.secondaryMenu-exit{
  color: #0b87d0;
}
.secondaryMenu-exit-active{
  transform: translateX(110%);
  transition: all var(--speed)ease;
}


@media (max-width: 600px) {
  .push {
    height: 23px;
    width: 23px;
  }
  .logo {
    margin-right: auto;
    width: 32px;
    height: 32px;
  }
  .logotxt {
    padding-left: 10px;
    color: var(--nav-text);
    font-size: 22px;
    font-family: "Poppins", sans-serif;
  }

  .nav-list {
    row-gap: 10px;
    column-gap: 12px;
  }

}