.dealsblock{
    padding: 0px 0px;
 margin: 0 auto; 
    box-sizing: border-box;
    max-width: 1300px;
}

.container3 {
    display: flex;
 box-sizing: border-box;
 min-width: 1300px;
    justify-content: space-between;
    padding: 10px;
    padding-top:0px;
    flex-direction: row;
}

@media(max-width: 1300px) {
    .container3 {    
        min-width: 1000px;    
    }
}
@media (max-width: 1000px) {
    .container3 {
        min-width: 800px;   
    }
}
@media (max-width: 800px) {
    .container3 {  
        min-width: 600px;   
    }
}
  @media (max-width: 600px) {
    .container3 {
        display: static;
        min-width: 500px;  
    }
    
  }

@media (max-width: 500px) {
    .container3 {
        min-width: 400px;   
    }
}
@media (max-width: 400px) {
    .container3 {
        min-width: 300px;   
    }
}