.modalnot{
    height: 100%;
    width: 100%;
    position: fixed;
    top:0;
    left:0;
    z-index: 1;
    opacity: 0;
    pointer-events: none;
    transition: 0.2s;
}
.modalnot.active{
    pointer-events: all;
    opacity: 1;
}
.modalcontainernot{
    display:flex;
    justify-content: space-between;
}
.modalnot_content{
    position: fixed;
    top: 70px; /* Оставляем фиксированный отступ сверху */
    left: 62%; /* Снимаем фиксированное позиционирование слева */
    border-radius: 15px;
    background-color: #1E2024;
    width: 400px;
    max-width: 100%; /* Ограничиваем максимальную ширину до 100% */
    transition: 0.2s;
    border: 1px solid #2D2F35;
    transform: scale(0); /* Сдвигаем обратно на половину ширины элемента */
    
}
.modalnot_content.active {
    transform: scale(1);
}
@media (max-width:1100px){
    .modalnot_content{
        padding-right: 20px;
        left: auto;
        right:0;
    }
}