.modalnot{
    height: 100%;
    width: 100%;
    position: fixed;
    top:0;
    left:0;
    z-index: 1;
    align-items: start;
    justify-content: end;
    opacity: 0;
    pointer-events: none;
    transition: 0.2s;
}
.modalnot.active{
    pointer-events: all;
    opacity: 1;
}
.modalnot_content{
    margin: 0 auto;
    margin-top: 70px;
    margin-right: 17%;
    border-radius: 15px;
    background-color: #1E2024;
    width: 400px;
    transform: scale(0);
    transition:0.2s;
    border: 1px solid #2D2F35;
}
.modalnot_content.active {
    transform: scale(1);
}
@media (max-width:600px){
    .modal_content{
    width: 520px;
    height: 100%;
    }
}